<header>
    <span id="logo">
        <a href="/">ACC BLOG</a>
    </span>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create New Blog</a></li>
    </ul>
</header>