<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>

</head>
<body>
    <!-- Header -->
    <%- include('./partials/nav.ejs')%>


    <div id="notfound">
        <div class="container">
            <h4>OOPS  - Page Not Found</h4>
            <a href="/">Go Home</a>
        </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')%>

    
</body>
</html>