<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')%>
   
<body>
    <!-- Header -->
    <%- include('./partials/nav.ejs')%>

    <!-- About -->
    <div id="about">
        <div class="container">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eaque quaerat odio est voluptas nulla earum incidunt aliquid, dolor voluptatibus. Minima voluptatum repudiandae eius quam laboriosam blanditiis placeat magnam cumque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sit velit debitis quisquam ab aperiam cupiditate voluptatem? Molestiae, reiciendis. Amet in autem itaque. Ratione rem accusantium, voluptate quo quibusdam eum?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eaque quaerat odio est voluptas nulla earum incidunt aliquid, dolor voluptatibus. Minima voluptatum repudiandae eius quam laboriosam blanditiis placeat magnam cumque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sit velit debitis quisquam ab aperiam cupiditate voluptatem? Molestiae, reiciendis. Amet in autem itaque. Ratione rem accusantium, voluptate quo quibusdam eum?</p>
        </div>
    </div>

    <!-- Footer -->
   <%- include('./partials/footer.ejs')%>
    
</body>
</html>