<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <!-- Header -->
    <%- include('./partials/nav.ejs')%>


    <div id="create">
        <div class="container">
            <h3>Create New Blog</h3>
          <form method="POST" action="/blogs">
              <input type="email" name="email" placeholder="Enter Email">
              <input type="text" name="title" placeholder="Enter Title">
              <textarea name="msg" placeholder="Enter Message"></textarea>
              <button>Submit</button>
          </form>
        </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')%>

    
</body>
</html>